//Core
@import "core/variables";
@import "core/mixins";

.single_hero {
    @include response-max($mobile) {
        padding-bottom: 0;

        .banner {
            margin-bottom: 0;
        }
    }
}

.single__title {
    text-align: center;
    color: $color-main;
    margin-bottom: 0;
}

.single__content {
    .text_block {
        padding: 24px;
        border-radius: 12px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 12px 0 rgba(141, 110, 109, 0.1);
        width: 100%;

        p {
            font-size: 18px
        }
    }

    .single__content_img {
        margin-bottom: 48px;

        img {
            object-fit: cover;
            border-radius: 12px;
        }
    }

    @include response-max($mobile) {
        .single__content_img {
            margin-bottom: 32px;
        }
    }
}

.single__content__banner {
    margin-top: 48px;

    @include response-max($mobile) {
        margin-top: 32px;
    }
}

.single__content__btn {
    text-align: center;
    margin-top: 38px;

    .card__btn {
        max-width: fit-content;
        margin: 0 auto;
    }

    @include response-max($mobile) {
        margin-top: 24px;
    }
}

.single__content_row {
    display: flex;
    gap: 32px;

    .single__banner {
        width: 100%;
    }

    @include response-min($laptop-landscape) {
        .single__banner {
            max-width: 380px;
        }
    }

    @include response-max($laptop-landscape - 1) {
        flex-direction: column;
        gap: 24px;
    }
}

.card__img {
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 12px;

    img {
        object-fit: cover;
    }
}

.card__title {
    color: $color-main;
    font-size: 32px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 400;

    a {
        color: $color-main;

        @include response-min($desktop) {
            &:hover {
                color: $color-main-hover;
            }
        }
    }

    @include response-max($mobile) {
        font-size: 24px;
    }
}

.card__btn {
    width: 100%;
    max-width: 100%;
    margin-bottom: 8px;
    height: 53px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;

    svg {
        margin-right: 8px;
        height: 14px;
        width: 14px;
    }

    img {
        height: 80%;
    }

    @include response-max($laptop-landscape - 1) {
        margin-bottom: 8px;
    }
}

.card__body {
    @include response-max($laptop-landscape - 1) {
        display: flex;
        flex-direction: column;

        .card__pricing {
            order: 1;
        }
    }
}

.card__social {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 16px;

    @include response-max($laptop-landscape - 1) {
        margin-bottom: 10px;
        gap: 20px;
    }
}

.card__social_item {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 20px;
    font-weight: 600;
    color: $color-main;

    svg {
        width: 24px;
        height: 24px;
    }
}

.single__banner {
    @include response-min($laptop-landscape) {
        max-width: 380px;
    }
}

.single__content {
    .tags {
        margin-top: 16px;

        @include response-max($laptop-landscape - 1) {
            margin-top: 24px;
        }
    }

    .tags__list {
        gap: 12px;
        justify-content: flex-start;

        @include response-max($laptop-landscape - 1) {
            justify-content: center;
        }
    }

    .tags__item {
        height: 50px;
        font-size: 20px;

        @include response-max($laptop-landscape - 1) {
            height: 47px;
            font-size: 16px;
            padding: 0 20px;
        }
    }

    .tags__title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 16px;

        @include response-max($laptop-landscape - 1) {
            text-align: center;
        }
    }
}

.card__pricing {
    text-align: center;
    color: $color-main;
    font-size: 20px;
    margin-bottom: 8px;

    @include response-max($laptop-landscape - 1) {
        margin-top: 8px;
        margin-bottom: 0;
    }
}