@mixin response-max($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}

@mixin response-min($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

@mixin response-range($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin pointer() {
    @include response-min($desktop) {
        cursor: pointer;
    }
}

@mixin line-break($rows) {
    -webkit-line-clamp: $rows;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    word-break: keep-all;
    display: -webkit-box;
}

@mixin scrollbar {
    overflow-x: auto;

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-main;
    }
}

@mixin text-block() {
    h1 {
        font-size: 56px;

        @include response-max($mobile) {
            font-size: 32px;
            margin-bottom: 16px;
        }
    }

    h2 {
        margin: 16px 0;
        font-size: 24px;

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        margin: 16px 0;
        font-size: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

    h4, h5, h6 {
        margin: 16px 0;
        font-weight: 500;

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.6;

        &:not(:last-child) {
            margin-bottom: 32px;

            @include response-max($mobile) {
                margin-bottom: 24px;
            }
        }

        a {
            text-decoration: underline;
            color: $color-main;

            @include response-min($desktop) {
                &:hover {
                    color: $color-main-hover;
                }
            }
        }
    }

    img {
        width: auto;
        object-fit: contain;
        border-radius: 12px;
    }

    ol, ul {
        margin: 16px 0;

        li {
            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }
    }

    ol {
        padding-left: 17px;
    }

    ul {
        padding-left: 21px;

        li {
            position: relative;
            padding-left: 21px;
            list-style: none;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                left: 0;
                width: 3px;
                height: 3px;
                background-color: #000;
            }
        }
    }

    .wp-block-image {
        margin-bottom: 24px;
    }

    iframe {
        margin: 30px auto !important;

        @include response-max($mobile) {
            width: 100% !important;
            max-width: 100% !important;
            min-width: 100% !important;
        }
    }

    .wp-block-embed__wrapper {
        display: flex;

        blockquote {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        & > * {
            margin-left: auto !important;
            margin-right: auto !important;

            @include response-max($mobile) {
                max-width: 100% !important;
                min-width: 100% !important;
            }
        }
    }

    .twitter-tweet {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}