$color-main: #FF5500;
$color-main-hover: #d74800;
$color-font: #564C4C;

$transition: 0.3s ease-in-out;

$laptop-landscape: 1024px;
$desktop: 1025px;
$laptop-portrait: 768px;
$mobile: 767px;
$header-responsive: 1250px;